
fastapi
uvicorn[standard]

langchain==0.2.1
langchain-community==0.2.1
langchain-core==0.2.2

motor

langchain-groq

redis
psycopg2-binary        
sqlalchemy             
asyncpg                
pydantic
pymongo[srv]
aiohttp


loguru

mypy
black
