
fastapi
uvicorn[standard]

langchain==0.2.1
langchain-community==0.2.1
langchain-core==0.2.2

motor

langchain-groq

redis
psycopg2-binary        
sqlalchemy             
asyncpg                
pydantic
pymongo[srv]
aiohttp


loguru

mypy
black


python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4

python-decouple==3.8
email-validator==2.1.0

apscheduler 
motor 
aiohttp

